.invitation {
    text-align: center;
    
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;

    }
    
    .invitation__title {
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: 0.03em;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.social-list {
    display: flex;
    justify-content: center;

    .social-list__item {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);

        transition: background-color var(--time-transition) var(--cubic);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .social-list__link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 12px;
        fill: #ffffff;
    }
}
