.container-contacts {
    display: block;
    margin-bottom: 64px;
}

.connection-list {

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }


    .connection-list__icon-mail,
    .connection-list__icon-phone {
        display: none;
        transition: fill var(--time-transition) var(--cubic);
    }

    .connection-list__link {
        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        transition: color var(--time-transition) var(--cubic);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &:hover .connection-list__icon-mail,
        &:focus .connection-list__icon-mail,
        &:hover .connection-list__icon-phone,
        &:focus .connection-list__icon-phone {
            fill: var(--accent-color);
        }
    
    }
      
}




