

.connection-list {
    @media screen and (max-width: 767px) {
        margin-bottom: 64px;

        &__item:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row-reverse;
        align-items: center;

        
    }

   
    .connection-list__item {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    
        &:not(:first-child) {
            @media screen and (min-width: 768px) {
                 margin-bottom: 10px;
            }
            @media screen and (min-width: 1200px) {
                margin-bottom: 0;
                 
            }
           
        }
        &:not(:last-child) {
            @media screen and (min-width: 1200px) {
                margin-left: 30px;
            }
        }

    }
    .connection-list__link {
        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        transition: color var(--time-transition) var(--cubic);

        @media screen and (min-width: 768px) {
            display: inline-flex;
            font-size: 12px;
            line-height: 1.166;

        }
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.142;
        }

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &:hover .connection-list__icon-mail,
        &:focus .connection-list__icon-mail,
        &:hover .connection-list__icon-phone,
        &:focus .connection-list__icon-phone {
            fill: var(--accent-color);
        }

    }

    
    .connection-list__icon-mail,
    .connection-list__icon-phone {
        display: none;
        transition: fill var(--time-transition) var(--cubic);

        @media screen and (min-width: 768px) {
            display: block;
            margin-right: 8px;
            fill: var(--secondary-text-color);
            
        }
    }
    .connection-list__icon-mail {
        @media screen and (min-width: 768px) {
            width: 14px;
            height: 10px;

        }

        @media screen and (min-width: 1200px) {
            width: 16px;
            height: 12px;
        }
    }
    .connection-list__icon-phone {
        @media screen and (min-width: 768px) {
            width: 10px;
            height: 14px;

        }

        @media screen and (min-width: 1200px) {
            width: 10px;
            height: 16px;
        }
    }

    
      
}




