.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
  }

}

.menu-button {
  display: inline-flex;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: turquoise;

  &.is-open {
    display: block;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}