.page {
    color: var(--primery-text-color);
    background-color: var(--primery-bg-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.714;
    overflow-x: hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width: 767px) {
       width: 480px;  
    }

    @media screen and (min-width: 768px) {
        width: 768px;

    }

    @media screen and (min-width: 1200px) {
        width: 1200px;

    }

}
  
.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}

.section {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
        
    }
}

.instruments,
.work,
.example-work {
    background: var(--primery-bg-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
