:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --bg-color-instruments:#F5F4FA;
    --primery-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --third-bg-color: #e5e5e5;
    --color-address-studio: #000000;
    --color-button: #ffffff;
    --color-hero: #ffffff;
    --buttom-bg-color-potfolio: #f5f4fa;
    --bg-card-portfolio: #ffffff;
    --color-icon: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time-transition: 250ms
}


