

.works {
    flex-wrap: wrap;
    padding-bottom: 94px;

    .works__item {
        box-sizing: border-box;
    }

    .works__item:not(:nth-child(3n)) {
        background-color: var(--bg-card-portfolio);
        margin-right: 30px;
    }

    .works__item:not(:nth-last-child(-n+3)) {
        margin-bottom: 30px;
    }

    .works__link {
        display: block;
        text-decoration: none;
        color: var(--primery-text-color);
        transition: box-shadow var(--time-transition) var(--cubic);

        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

}

.card-thumb {
    position: relative;
    overflow: hidden;

    .card-thumb__img {
        display: block;
        max-width: 370px;
    }

    .card-thumb__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px 63px 24px;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        opacity: 0;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: opacity var(--time-transition) var(--cubic),
            transform var(--time-transition) var(--cubic);
    }

    .card-thumb__info-text {
        margin: 0 0;
    }
}

.card-thumb__meta {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0;
        .card-thumb__name {
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            margin-bottom: 4px;
        }

         .card-thumb__category {
             color: var(--secondary-text-color);
             font-size: 16px;
             line-height: 1.87;
             letter-spacing: 0.03em;
             margin-bottom: 0;
             margin-top: 0;
         }
}

.works__link:hover .card-thumb__overlay,
.works__link:focus .card-thumb__overlay {
    opacity: 1;
    transform: translateY(0);
}


