.examples-list {
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;

    .examples-list__item:not(:first-child) {
        margin-left: 8px;
    }

    .examples-list__button {
        color: var(--primery-text-color);
        background-color: var(--buttom-bg-color-potfolio);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 6px 22px;
        transition: background-color var(--time-transition) var(--cubic),
            color var(--time-transition) var(--cubic),
            box-shadow var(--time-transition) var(--cubic);
        
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--color-button);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}





