.section-work {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }

    .work__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
    }


    .work__title-thumb {
        background: rgba(47, 48, 58, 0.8);
        font-weight: bold;
        font-size: 14px;
        line-height: 1.142;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
    }
}









